##
## Key : lombok.accessors.chain
## Type: boolean
##
## Generate setters that return 'this' instead of 'void' (default: false).
#
clear lombok.accessors.chain
lombok.accessors.chain = true

##
## Key : lombok.log.fieldName
## Type: identifier-name
##
## Use this name for the generated logger fields (default: 'log').
#
clear lombok.log.fieldName
lombok.log.fieldName = logger
